body {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}
.timezone {
  position: relative;
  overflow: hidden;
  padding: 0.2em 0;
  margin: 0 1em;
  border-bottom: solid 1px black;
}
.timezone attr {
  font-size: 0.9em;
}
.timezone__location {
  margin: 0;
  font-size: 2.8em;
  font-weight: 200;
}
.time {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 3.4em;
  font-weight: 200;
}
.time small {
  font-size: 0.6em;
}
