@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
}

#apexchart {
  max-width: 100%;
  paddingg-left: -20px;
  opacity: 0.9;
        toolbar: {
          show: false,
          tools: {
            download: true,
            selection: true,
            zoom: true,
            zoomin: true,
            zoomout: true,
            pan: true,
            reset: true | '<img src="/static/icons/reset.png" width="20">',
            customIcons: []
          },
          autoSelected: 'zoom'
        },
}

#timeline-chart .apexcharts-toolbar {
  opacity: 1;
  border: 0;
}
