@import url('https://fonts.googleapis.com/css?family=Merienda');

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

/* Default Styling */
body {
  font-family: 'Merienda', cursive;
  background: #ffffff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  position: absolute;
  z-index: 1;
}
a {
  color: #0bd;
}
